@model IEnumerable<DBClinica_EL01.Models.Citas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nueva Cita</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Nombre del Médico
            </th>
            <th>
                Nombre del Paciente
            </th>
            <th>
                Descripción
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Fecha.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodmedNavigation.Nommed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodpacNavigation.Nompac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Nrocita"><i class="fas fa-edit" title="Editar"></i></a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Nrocita"><i class="fas fa-eye" title="Ver Detalle"></i></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Nrocita"><i class="fas fa-trash-alt" title="Eliminar"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
